<h1>Character#show</h1>

<%= link_to "Edit this Character!", edit_character_path(@character) %>

<h1><%= @character.name %></h1>
<h2><%= @character.house.name %></h2>

<h1> Am I alive?  <%= @character.alive %></h1>
<p>Find me in app/views/character/show.html.erb</p>
